<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <trackinglink>
            <service_url>
				<dhl><![CDATA[http://webtrack.dhlglobalmail.com/?trackingnumber={{number}}]]></dhl>
				<fedex><![CDATA[https://www.fedex.com/apps/fedextrack/?action=track&action=track&tracknumbers={{number}}]]></fedex>
				<ups><![CDATA[https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={{number}}]]></ups>
				<usps><![CDATA[https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{number}}]]></usps>
				<flatrate><![CDATA[https://track.aftership.com/{{number}}]]></flatrate>
				<tablerate><![CDATA[https://track.aftership.com/{{number}}]]></tablerate>
				<freeshipping><![CDATA[https://track.aftership.com/{{number}}]]></freeshipping>
            </service_url>
        </trackinglink>
    </default>
</config>